@import "tailwindcss";

@theme {
  --color-dicoding-dark: #1e1e1e;
  --color-dicoding-primary: #2d3e50;
}

@layer base {
  body {
    @apply bg-gray-900 text-white font-sans antialiased;
  }
}

.glass-panel {
  @apply bg-gray-800/50 backdrop-blur-md border border-gray-700/50 shadow-xl rounded-xl;
}